@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');

$colors: (
    'pink' : hsl(322, 100%, 66%),
    'very-pale-cyan' : hsl(193, 100%, 96%),
    'very-drak-cyan' : hsl(192, 100%, 9%),
    'grayish-blue' : hsl(208, 11%, 55%),
);
$font-size: 18px;
$font-family: (
    'heading' : 'Poppins',
    'body' : 'Open Sans' 
);
// Responsive mixins
@mixin ipad-screen {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin medium-screen {
    @media screen and (min-width: 980px) {
        @content;
    }
}
@mixin large-screen {
    @media screen and (min-width: 1440px) {
        @content;
    }
}