// Responsive for Ipad screen
@include ipad-screen {
    main {
        position: relative;
        .bg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5rem;
            background-image: url('../images/bg-hero-desktop.svg');
            background-color: map-get($colors, 'very-pale-cyan');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100vh;
        }
        .community {
            &__txt {
                &__title {
                    font-size: 2rem;
                    width: 400px;
                }
                &__brief {
                    width: 400px;
                }
                &__btn {
                    max-width: 350px;
                }
            }
            &__img {
                width: 90%;
                img {
                    height: 400px;
                }
            }
        }
        .features {
            width: 90%;
            margin-top: 67rem;
            .feature {
                &__txt {
                    &__title {
                        font-size: 2rem;
                    }
                    &__brief {
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .recommend {
            width: 70%;
            &__btn {
                max-width: 50%;
            }
        }
    }
    .footer {
        padding-right: 4rem;
        padding-left: 4rem;
        font-size: 1.5rem;
    }
}

// Responsive for medium screen
@include medium-screen {
    .header {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    main {
        position: relative;
        .bg {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2rem;
            height: 100vh;
            background-image: url('../images/bg-hero-desktop.svg');
            background-color: map-get($colors, 'very-pale-cyan');
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
        }
        .community {
            flex-direction: row;
            justify-content: flex-start;
            width: 100%;
            padding-left: 3rem;
            padding-right: 3rem;
            &__txt {
                text-align:left;
                width: 50%;
                align-items: flex-start;
                &__title {
                    font-size: 2rem;
                }
                &__brief {
                    font-size: 1rem;
                    text-align-last: left;
                    width: 480px;
                }
                &__btn {
                    width: 50%;
                    font-size: 1rem;
                }
            }
            &__img {
                width: 50%;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
        .features {
            margin-top: 43rem;
            .feature {
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                padding-left: 10rem;
                &__txt {
                    order:0;
                    width: 50%;
                    text-align: left;
                    &__brief {
                        font-size: 1rem;
                        width: 74%;
                    }
                    &--order {
                        order: 1;
                    }
                }
                &__img {
                    order: 1;
                    width: 50%;
                    display: flex;
                    justify-content: flex-end;
                    img {
                        width: 80%;
                        height: 300px;
                    }
                    &--order {
                        order: 0;
                        justify-content: flex-start;
                    }
                }
            }
        }
        .recommend {
            width: 40%;
            padding: 3rem 1rem;
            bottom: -6rem;
            &__btn {
                width: 50%;
            }
        }
    }
    .footer {
        font-size: 1rem;
        &__infos {
            display: flex;
            flex-direction: row;
            justify-content: center;
            &__contacts {
                width: 45%; 
            }
            &__links {
                width: 20%;
                align-self: flex-start;
                padding-left: 4rem;
                &__link {
                    margin: 0;
                }
            }
            &__social-media {
                width: 20%;
                align-self: flex-start;
                margin-top: 0;
                i {
                    padding: 0.5rem;
                }
            }
        }
        &__copyright {
            text-align: right;
        }
    }
}

// Responsive for large screen
@include large-screen {
    html{ 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    body{
        width: 1440px;
    }
}